

.SlidingPane-svg {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}

.slide-pane__overlay {
	z-index: 100000000 
}

.slide-pane__content {
    position: relative;
    overflow-y: auto;
    padding: 24px 32px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 80%;
    margin: 0 auto;
}